[Unit]
Description=Run misp-github-sync.service every 3 days

[Timer]
OnBootSec=10min
OnUnitActiveSec=3d
Persistent=true
Unit=misp-github-sync.service

[Install]
WantedBy=timers.target
